.header_section {
    position:absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fafcfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Tamaño de fuente y estilo de los elementos de navegación */
  .navbar-nav .nav-link {
    white-space: nowrap; /* Evita que el texto se divida en varios renglones */
  }
  
  .navbar-brand{
    margin-right: -10px;
  }

  /* Espacio para evitar superposición con el contenido principal */
  .main_content {
    margin-top: 40px; /* Ajusta según la altura del header */
    flex: 1;
  }

body {
    font-family: Arial, sans-serif;
    height: 85vh;
    background-color: #669cff;
}

.inicioSesion {
    margin-block: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioSesionContenedor {
    background-color: white;
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.formulario {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #559eff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #669cff;
}

.registrarse {
    text-align: center;
    margin-top: 1rem;
    color: #666;
}

.registrarse a {
    color: #669cff;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}