<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Michilines</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.css')}}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('static', filename = 'css/responsive.css')}}" rel="stylesheet" />
  <!--para el mapa con leaflet.js-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  

</head>

<body>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="{{url_for('static', filename = 'imagenes/huellas.png')}}" alt="">
            <span>
              Michilines
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('index')}}">inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('galeria')}}">Mascotas </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('publicarMascotas')}}">publicar mascota perdida </a>
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="{{url_for('iniciarSesion')}}">Iniciar Sesion </a>
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="{{url_for('registrarse')}}">Registrarse </a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button> <!--boton de la lupita-->
              </form>
            </div>
            <div class="quote_btn-container  d-flex justify-content-center">
              <a href="">
                
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- slider section, cantidad de sliders -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Encontra a tu Mascota
                      <span>
                        Publica tu Mascota Perdida
                      </span>
                    </h1>
                    <p>
                      Al publicar a tu Mascota Perdida podras tener mas posibilidades de
                      encontrarle ya que tendras a mas personas buscandoles
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('publicarMascotas')}}" class="btn-1">
                        Mascota Perdida
                      </a>
                      <a href="{{url_for('publicarMascotas')}}" class="btn-2">
                        En Transito
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> <!--Aca termina el primer slide-->
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Nuestra Galeria de
                      <span>
                        Mascotas
                      </span>
                    </h1>
                    <p>
                      Aqui podras ver todas las mascotas que han sido publicadas
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('galeria')}}" class="btn-1">
                        Galeria
                      </a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Nuestro Equipo
                      <span>
                        Integrantes
                      </span>
                    </h1>
                    <p>
                      Este es el equipo que trabaja arduo y duro para que puedas encontrarte con tu querido amiguito
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('integrantes')}}" class="btn-1">
                        Integrantes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>
    <!-- end slider section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{url_for('static', filename = 'imagenes/about.png')}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2 class="custom_heading">
              Como funciona la
              <span>
                Busqueda
              </span>
            </h2>
            <p>
              Si perdiste a tu mascota, es necesario que vayas al boton Mascota Perdida y que llenes la informacion que te pide. Sin embargo, si encontraste
              una mascota que sospechas que es de alguien por lo que la tienes de transito en tu hogar, entonces
              ingresa al boton En Transito y completa la informacion pedida. De esta forma las personas pueden
              ver en nuestra galeria, las mascostas que esten <span>Perdidas</span>, <span>En Transito</span> o <span>Encontradas</span>
              siendo este ultimo, cuando la mascota se encuentre con su querida familia.
            </p>
            <div>
              <a href="{{url_for('galeria')}}">
                Galeria de Mascotas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Acceder a la galeria de mascotas -->

  <section class="buy_section layout_padding">
    
      <div class="container">
        <h2>
          Puedes ver todas las <span>Mascotas</span> aqui
        </h2>
        <p>
          Estas <span>mascotas</span> estan <span>perdidas, encontradas o en transito</span>. Te invitamos 
          a ver nuestra amplia galeria si estas buscando a tu mascota o si encontraste alguna y quiere encontrar a su familia.
        </p>
        <div class="d-flex justify-content-center">
          <a href="{{url_for('galeria')}}">
           Galeria de Mascotas
          </a>
        </div>
     </div>
  </section>

  <!-- end acceso a galeria de mascotas -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <h2 class="custom_heading_encontradas text-center">
        Mascotas
        <span>
          Encontradas
        </span>
      </h2>
      <p class="text-center">
        En esta seccion mostramos algunas familias que pudieron encontrarse con sus mascotas gracias a la ayuda de esta plataforma
      </p>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box">
                  <img src="{{url_for('static', filename = 'imagenes/client.jpg')}}" alt="">
                </div>
                <div class="detail_box">
                  <h5>
                    Lorena Lopez
                  </h5>
                  <p>
                    Luego de meses sin encontrar a su amigo de toda la vida, Lorena decidio intentarlo por medio
                    de esta plataforma. Afortunadamente habia una persona que lo tenia en <span>transito</span> 
                    y gracias a ello, Lorena pudo hablar con la persona que lo tenia de transito y al fin volver
                    a unirse con su amigo de toda la vida, el querido Puchita.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box_mascotas">
                  <img src="{{url_for('static', filename = 'imagenes/persona7.png')}}" alt="">
                </div>
                <div class="detail_box">
                  <h5>
                    Sandy Mark
                  </h5>
                  <p>
                    Sandy encontro un gatito con collar que decia Pimpe, el problema es que no se veia muy bien el numero.
                    Por lo que, desesperada por encontrar a su familia decidio ingresar a la mascota en la pagina como
                    <span>transito</span> y luego de unos dias, Florencia pudo encontrar a su gatito Pimpe con la ayuda de Sandy
                    y esta pagina
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box_mascotas">
                  <img src="{{url_for('static', filename = 'imagenes/Cheems.jpg')}}" alt="">
                </div>
                <div class="detail_box">
                  <h5>
                    Marcos Olivera
                  </h5>
                  <p>
                    Marcos estuvo buscando a su Loro que no dejaba de decir "Marcos, donde estas Marcos?", entonces Claudia,
                    amante de las aves, noto este Loro en una plaza e inmediatamente se puso a buscar a su familia. Como no tuvo 
                    suerte preguntando a los vecinos, se le ocurrio publicarlo como <span>transito</span> y al fin encontro a Marcos,
                    quien habia publicado que perdio su Loro en los comentarios de su publicacion.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </section>
  <!-- end client section -->
   
 <!-- integrantes -->
 <section class="service_section layout_padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <h2 class="custom_heading">
          <span>Integrantes</span>
        </h2>
        <div class="container layout_padding2">
          <div class="row">
            <!--Inicio for-->
            {% for id, dato in datosIntegrantes.items() %}
            <div class="col-md-4">
              <div class="img_box">
                <img src="{{url_for('static', filename = dato.imagenUrl)}}" alt="">
              </div>
              <div class="detail_box">
                <h6>
                  {{ dato.nombre }}
                </h6>
                <p>
                  {{ dato.descripcion }}
                </p>
              </div>
            </div>
            {% endfor %}
             <!--Termino for-->
            </div>
          </div>
          <div>
            <a href="{{ url_for('integrantes')}}">
            Todos los Integrantes
            </a>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>

  <!-- end integrantes -->

  <!-- map section -->
 




  <!-- end map section -->

  <div id="map"></div>
  
  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="https://www.fi.uba.ar/institucional/sedes/paseo-colon">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Ubicacion
              </p>
            </div>
          </div>
        </a>
        <a href="https://github.com/7URKO0/Michilines/tree/main">
          <div class="item ">
            <div class="img-box box-2">
              
            </div>
            <div class="detail-box">
              <p>
                Ver nuestro Proyecto
              </p>
            </div>
          </div>
        </a>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRlRQfpmJRDCHgXrtHtZnQcKLJtBfXbBwVSdsjXvDHSDZqgjzFlFqdXsGnBrTqwgqgQQPhq">
          <div class="item ">
            <div class="img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                cwilverht@fi.uba.ar
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{url_for('static', filename = 'js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {
          lat: 40.645037,
          lng: -73.880224
        },
      });

      var image = 'imagenes/maps-and-flags.png';
      var beachMarker = new google.maps.Marker({
        position: {
          lat: 40.645037,
          lng: -73.880224
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->
  
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{{url_for('static', filename = 'js/mapa.js')}}"></script>
</script>
  <!-- end google map js -->
</body>
</body>

</html>