{% extends 'base.html'%}
{%block estilo%} <link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesInicioSesion.css') }}"> {% endblock %}
{% block nombrequesemecante %} 
    <div class="inicioSesionContenedor">

        <form id="inicioSesionFormulario">
{% endblock %}
            <button type="submit">{% block boton %} Iniciar Sesion{% endblock %}</button>

            {% block registrarse%}      
        <div class="registrarse">
            ¿No tenes una cuenta? <a href="{{ url_for('registrarse') }}">Registrate</a> <!--agregar link a registro con flask-->
        </div>
        
    </div>

    <script src="{{ url_for('static', filename = 'js/scriptInicioSesion.js') }}"></script> <!--agregar link a script.js de flask-->
    {% endblock %}
    