<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="stylesInicioSesion.css"> <!--cambiar con el flask-->

</head>

<body>

    <div class="inicioSesionContenedor">

        <form id="inicioSesionFormulario">

            <div class="formulario">
                <label for="email">Correo electronico</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="formulario">
                <label for="contraseña">Contraseña</label>
                <input type="contraseña" id="contraseña" name="contraseña" required>
            </div>

            <button type="submit">Iniciar Sesion</button>

        </form>
        
        <div class="registrarse">
            ¿No tenes una cuenta? <a href="registrarse.html">Registrate</a> <!--agregar link a registro con flask-->
        </div>
    </div>

    <script src="scriptInicioSesion.js"></script> <!--agregar link a script.js de flask-->

</body>
</html> 