<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de {{ mascota['nombre'] }}</title>
</head>
<body>
    <h1>{{ mascota['nombre'] }}</h1>
    <img src="{{ url_for('static', filename=mascota['imagenUrl']) }}" alt="Imagen de {{ mascota['nombre'] }}" style="width: 300px; height: auto;">
    <p>{{ mascota['descripcion'] }}</p>
    <p>Edad: {{ mascota['edad'] }}</p>
    <p>Raza: {{ mascota['raza'] }}</p>
</body>
</html>
