{% extends 'base.html'%}

{% block titulo %} <title>Perfil de {{ mascota['nombre'] }}</title>{% endblock %}
    
    {% block estilo %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylePerfilMascota.css') }}">
    {% endblock %}
</head>

{% block contenido %}
<body>

    <div class="contenedor">
        <div class="perfil-contenedor">
            <div class="imagen">
                <img src="{{ url_for('static', filename=mascota['imagen_url']) }}" alt="Imagen de {{ mascota['nombre'] }}">
            </div>
            <div class="informacion">
                <h1>{{ mascota['nombre'] }}</h1>
                <p>{{ mascota['descripcion'] }}</p>
                <hr>
                <p><strong>Edad:</strong> {{ mascota['edad'] }}</p>
                <p><strong>Raza:</strong> {{ mascota['raza'] }}</p>
                <p><strong>Zona:</strong> {{ mascota['zona'] }}</p>
            </div>
        </div>
        <div class="comentarios">
            <h2>Comentarios</h2>
            {% for comentario in mascota['comentarios'] %}
            <div class="comentario">
                <p>{{ comentario }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="comentarios">
            <form class="formulario" action="{{ url_for('perfilMascota', id=id) }}" method="post">
                <label for="comentario">Deja un comentario:</label>
                <textarea id="comentario" name="comentario" placeholder="Escribe tu comentario..."></textarea>
                <button type="submit" class="publicar">Enviar comentario</button>
            </form>
        </div>
    </div>
    {% endblock %}
    
</body>
</html>