{% extends 'baseSesion.html'%}

{%block estilo%} 
<title>Registro</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/stylesRegistro.css') }}"> 
{% endblock %}

    {% block formulario %} 
    <div class="registroContenedor">

        <form id="registroFormulario">
    {% endblock %}
 

    {% block confirmarContrasenia %}
            <div class="formulario">
                <label for="confirmarContraseña">Confirmar contraseña</label>
                <input type="contraseña" id="confirmarContraseña" name="confirmarContraseña" required>
            </div>
    {% endblock %}

            
            <button type="submit">{% block boton %} Registrarse {% endblock %}</button>
        

    {% block iniciarSesion%}
        <div class="iniciarSesion">
            ¿Ya tenes una cuenta? <a href="{{ url_for('iniciarSesion') }}">Iniciar Sesion</a> <!-- meterle flask-->
        </div>
        
    </div>
    <script src="{{ url_for('static', filename = 'js/scriptRegistro.js') }}"></script> <!-- meter flask-->
    {% endblock %}

