{% extends 'base.html' %}

{% block titulo %}<title>Galería de Mascotas</title>{% endblock %}

{% block estilo %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/galeria.css') }}">
{% endblock %}

{% block contenido %} 
<body>
  <section class="gallery-section layout_padding">
    <div class="container">
      <div class="gallery-title">Galería de Mascotas</div>

      <div class="filter-select">
        <label for="categorySelect">Filtrar por:</label>
        <select id="categorySelect" onchange="filterGalleryBySelect()">
          <option value="all">Todos</option>
          <option value="Perdido">Perdidos</option>
          <option value="Encontrado">Encontrados</option>
          <option value="Transito">En Tránsito</option>
        </select>
      </div>
    </div>

    <div class="container">
      {% for mascota in mascotas %}
        <div class="img_box box-4 gallery-item {{ mascota['estado'] }}">
        <img src="{{ mascota['imagen_url'] }}" alt="{{ mascota['nombre'] }}">
        <div class="detail_box">
          <h6>{{ mascota['nombre'] }}</h6>
          <p>{{ mascota['descripcion'] }}</p>
          <p><strong>Raza:</strong> {{ mascota['raza'] }}</p>
          <button class="btn btn-primary" onclick="window.location.href='{{ url_for('perfilMascota', id=mascota['id']) }}'">Ver perfil</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  {% block scripts %} 
  <script src="{{ url_for('static', filename='js/galeria.js') }}" defer></script>
  {% endblock %}

</body>
{% endblock %}
</html>
