{% extends 'base.html' %}

{% block titulo %}<title>Galería de Mascotas</title>{% endblock %}

{% block estilo %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/galeria.css') }}">
{% endblock %}

{% block contenido %} 
<body>
  <section class="gallery-section layout_padding">
    <div class="container">
      <div class="gallery-title">Galería de Mascotas</div>

      <div class="filter-select">
        <label for="categorySelect">Filtrar por:</label>
        <select id="categorySelect" onchange="filterGalleryBySelect()">
          <option value="all">Todos</option>
          <option value="Perdido">Perdidos</option>
          <option value="Encontrado">Encontrados</option>
          <option value="Transito">En Tránsito</option>
        </select>
      </div>
    </div>

    <div class="container" id="gallery-container">
      <!-- Aquí se cargarán dinámicamente las mascotas desde la API -->
    </div>
  </section>

  {% block scripts %} 
  <script src="{{ url_for('static', filename='js/galeria.js') }}" defer></script>
  {% endblock %}

</body>
{% endblock %}
</html>
