{% extends 'base.html' %}

  {% block titulo %}<title>Michilines</title>{% endblock %}
  

</head>
{% block contenido %} 
<body>

    <!-- slider section, cantidad de sliders -->
    <section class=" slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Encontra a tu Mascota
                      <span>
                        Publica tu Mascota Perdida
                      </span>
                    </h1>
                    <p>
                      Al publicar a tu Mascota Perdida podras tener mas posibilidades de
                      encontrarle ya que tendras a mas personas buscandoles
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('publicarMascotas')}}" class="btn-1">
                        Mascota Perdida
                      </a>
                      <a href="{{url_for('publicarMascotas')}}" class="btn-2">
                        En Transito
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div> <!--Aca termina el primer slide-->
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Nuestra Galeria de
                      <span>
                        Mascotas
                      </span>
                    </h1>
                    <p>
                      Aqui podras ver todas las mascotas que han sido publicadas
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('galeria')}}" class="btn-1">
                        Galeria
                      </a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 offset-md-2">
                  <div class="slider_detail-box">
                    <h1>
                      Nuestro Equipo
                      <span>
                        Integrantes
                      </span>
                    </h1>
                    <p>
                      Este es el equipo que trabaja arduo y duro para que puedas encontrarte con tu querido amiguito
                    </p>
                    <div class="btn-box">
                      <a href="{{url_for('integrantes')}}" class="btn-1">
                        Integrantes
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
</section>
    <!-- end slider section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{url_for('static', filename = 'imagenes/about.png')}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2 class="custom_heading">
              Como funciona la
              <span>
                Busqueda
              </span>
            </h2>
            <p>
              Si perdiste a tu mascota, es necesario que vayas al boton Mascota Perdida y que llenes la informacion que te pide. Sin embargo, si encontraste
              una mascota que sospechas que es de alguien por lo que la tienes de transito en tu hogar, entonces
              ingresa al boton En Transito y completa la informacion pedida. De esta forma las personas pueden
              ver en nuestra galeria, las mascostas que esten <span>Perdidas</span>, <span>En Transito</span> o <span>Encontradas</span>
              siendo este ultimo, cuando la mascota se encuentre con su querida familia.
            </p>
            <div>
              <a href="{{url_for('galeria')}}">
                Galeria de Mascotas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Acceder a la galeria de mascotas -->

  <section class="buy_section layout_padding">
    
      <div class="container">
        <h2>
          Puedes ver todas las <span>Mascotas</span> aqui
        </h2>
        <p>
          Estas <span>mascotas</span> estan <span>perdidas, encontradas o en transito</span>. Te invitamos 
          a ver nuestra amplia galeria si estas buscando a tu mascota o si encontraste alguna y quiere encontrar a su familia.
        </p>
        <div class="d-flex justify-content-center">
          <a href="{{url_for('galeria')}}">
           Galeria de Mascotas
          </a>
        </div>
     </div>
  </section>

  <!-- end acceso a galeria de mascotas -->

  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <h2 class="custom_heading_encontradas text-center">
        Mascotas
        <span>
          Encontradas
        </span>
      </h2>
      <p class="text-center">
        En esta seccion mostramos algunas familias que pudieron encontrarse con sus mascotas gracias a la ayuda de esta plataforma
      </p>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box">
                  <img src="{{url_for('static', filename = 'imagenes/client.jpg')}}" alt="">
                </div>
                <div class="detail_box">
                  <h5>
                    Lorena Lopez
                  </h5>
                  <p>
                    Luego de meses sin encontrar a su amigo de toda la vida, Lorena decidio intentarlo por medio
                    de esta plataforma. Afortunadamente habia una persona que lo tenia en <span>transito</span> 
                    y gracias a ello, Lorena pudo hablar con la persona que lo tenia de transito y al fin volver
                    a unirse con su amigo de toda la vida, el querido Puchita.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box">
                  <img src="{{url_for('static', filename = 'imagenes/persona7.png')}}" alt=""> 
                </div>
                <div class="detail_box">
                  <h5>
                    Sandy Mark
                  </h5>
                  <p>
                    Sandy encontro un gatito con collar que decia Pimpe, el problema es que no se veia muy bien el numero.
                    Por lo que, desesperada por encontrar a su familia decidio ingresar a la mascota en la pagina como
                    <span>transito</span> y luego de unos dias, Florencia pudo encontrar a su gatito Pimpe con la ayuda de Sandy
                    y esta pagina
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="layout_padding2 pl-100">
              <div class="client_container ">
                <div class="img_box">
                  <img src="{{url_for('static', filename = 'imagenes/Cheems.jpg')}}" alt="">
                </div>
                <div class="detail_box">
                  <h5>
                    Marcos Olivera
                  </h5>
                  <p>
                    Marcos estuvo buscando a su Loro que no dejaba de decir "Marcos, donde estas Marcos?", entonces Claudia,
                    amante de las aves, noto este Loro en una plaza e inmediatamente se puso a buscar a su familia. Como no tuvo 
                    suerte preguntando a los vecinos, se le ocurrio publicarlo como <span>transito</span> y al fin encontro a Marcos,
                    quien habia publicado que perdio su Loro en los comentarios de su publicacion.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </section>
  <!-- end client section -->
   
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            <span>Integrantes</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              <!-- Inicio del for -->
              {% for id, dato in datos_integrantes %}
                <div class="col-md-4">
                  <div class="img_box">
                    <img src="{{ url_for('static', filename=dato.imagenUrl) }}" alt="{{ dato.nombre }}">
                  </div>
                  <div class="detail_box">
                    <h6>
                      {{ dato.nombre }}
                    </h6>
                    <p>
                      {{ dato.descripcion }}
                    </p>
                  </div>
                </div>
              {% endfor %}
              <!-- Fin del for -->
            </div>
          </div>
          <div>
            <a href="{{ url_for('integrantes') }}" class="btn-1">Ir a Integrantes</a>
            Todos los Integrantes
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- end integrantes -->

  <!-- map section -->
 




  <!-- end map section -->
  <div id= "map">
    {%block scripts%}  
    
  <!-- google map js -->
  
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{{url_for('static', filename = 'js/mapa.js')}}"></script>
  <!-- end google map js -->
  <!-- end info_section -->
  {% endblock %}
</div>
{% endblock %}
</body>


</html>