{% extends 'base.html' %}

  {% block titulo %} <title>Michilines</title> {% endblock %}

</head>
{% block contenido %} 

<body>
   <!-- slider section, cantidad de sliders -->
   <section class=" slider_section position-relative">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <div class="slider_detail-box">
                  <h1>
                    Encontra a tu Mascota
                    <span>
                      Publica tu Mascota Perdida
                    </span>
                  </h1>
                  <p>
                    Al publicar a tu Mascota Perdida podras tener mas posibilidades de
                    encontrarle ya que tendras a mas personas buscandoles
                  </p>
                  <div class="btn-box">
                    <a href="{{url_for('publicarMascotas')}}" class="btn-1">
                      Mascota Perdida
                    </a>
                    <a href="{{url_for('publicarMascotas')}}" class="btn-2">
                      En Transito
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div> <!--Aca termina el primer slide-->
        <div class="carousel-item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <div class="slider_detail-box">
                  <h1>
                    Nuestra Galeria de
                    <span>
                      Mascotas
                    </span>
                  </h1>
                  <p>
                    Aqui podras ver todas las mascotas que han sido publicadas
                  </p>
                  <div class="btn-box">
                    <a href="{{url_for('galeria')}}" class="btn-1">
                      Galeria
                    </a>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <div class="slider_detail-box">
                  <h1>
                    Nuestro Equipo
                    <span>
                      Integrantes
                    </span>
                  </h1>
                  <p>
                    Este es el equipo que trabaja arduo y duro para que puedas encontrarte con tu querido amiguito
                  </p>
                  <div class="btn-box">
                    <a href="{{url_for('integrantes')}}" class="btn-1">
                      Integrantes
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                  <img src="{{url_for('static', filename = 'imagenes/slider-img.png')}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
  <!-- end slider section -->
    
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            <span>Integrantes</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              <!--Inicio for-->
              {% for integrante in datosIntegrantes %}
              <div class="col-md-4">
                <div class="img_box">
                  <img src="{{url_for('static', filename = integrante.imagenUrl)}}" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    {{ integrante.nombre }}
                  </h6>
                  <p>
                    {{ integrante.descripcion }}
                  </p>
                </div>
              </div>
              {% endfor %}
               <!--Termino for-->
            </div>
          </div>
          <div>
            <!--Esto es un botonxd-->
            <a href="{{ url_for('index')}}">
              Regresar
            </a>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
  {% endblock %}
</body>

</html>